
.project {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    min-width: 250px;
    height: 250px;
    align-items: center;
    box-shadow: 0px 24px 48px rgba(230, 235, 245, 0.4), 0px 1px 4px rgba(227, 235, 252, 1);
    padding: 16px;
    border-radius: 8px;

}

.project__image {
    max-width: 200px;
}

.project__title {
    font-size: 16px;
    font-weight: 500;
}

.project__information {
    font-size: 14px;
    font-weight: 400;
}
