@font-face {
    font-family: 'Halvar Breitschrift';
    src: url('../assets/fonts/Halvar_thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breitschrift';
    src: url('../assets/fonts/Halvar_light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breitschrift';
    src: url('../assets/fonts/Halvar_regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breitschrift';
    src: url('../assets/fonts/Halvar_medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breitschrift';
    src: url('../assets/fonts/Halvar_bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Halvar Breitschrift", sans-serif;
    scroll-behavior: smooth;

    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    padding: 0;
    margin: 0;
    line-height: 1.35;
}

a {
    text-decoration: none;
}

input {
    padding: 0 8px;
}

textarea {
    padding: 8px;
}

textarea, input {
    border: none;
    box-shadow: 0px 24px 48px rgba(230, 235, 245, 0.4), 0px 1px 4px rgba(227, 235, 252, 1);
}

.error {
    color: red;
    padding-top: 8px;
}

.fullwidth {
    width: 100%;
}

.input {
    height: 40px;
    border-radius: 8px;

}