
.header {
    box-shadow: 0px 24px 48px rgba(230, 235, 245, 0.4), 0px 1px 4px rgba(227, 235, 252, 1);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
}

.nav__link {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s;
}

.nav__link:hover {
    color: #ffd700;
}