.avatar {
    max-width: 200px;
    border-radius: 20px;
}

.container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.information {
    margin-top: 20px;
}

section {
    padding-top: 80px;
}

li {
    margin-top: 8px;
}

.project__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

